<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title><%= message.text %></title>
  </head>
  <body>
    <div class="messageContainer">
      <p><%= message.username %></p>
      <h4><%= message.text %></h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere odit
        quaerat quae tempora ipsum sunt, voluptatem cum. Tenetur animi quidem
        placeat error eligendi? Assumenda velit consequatur voluptas quas
        adipisci illo.
      </p>
      <p class="date"><%= message.added %></p>
    </div>
  </body>
</html>
