body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.messageContainer {
  background-color: rgba(0, 0, 0, 0.041);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  width: auto;
}

.date {
  color: rgb(145, 145, 145);
}
